body {
    max-width: 1000px;
    margin:20px;
    font-family: Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
/* .player-gen {
    padding-top:5px;
} */

.main-grid-layout{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 40px 40px 40px auto auto auto;
    grid-template-areas:
    
    "choice1"
    "choice2"
    "choice3"
    "choice4"
    "player-main"
    "options"
    "timer";
    gap: 5px;
    padding-top: 20px;

}

.choice-style {
    align-self: center;
    border:1px solid black;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.choice-style:hover{
    cursor: pointer;

}

.player-group-main{
    grid-area: player-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-group-main div{
    align-items: center;
    
}

#timer{
    grid-area:timer;
    justify-self: center;
    display:flex;
}
#choice-1{
    grid-area: choice1;   
}

#choice-2{
    grid-area: choice2;
}

#choice-3{
    grid-area: choice3;
}

#choice-4{
    grid-area: choice4;
}

.player-gen {
    grid-area: player-gen;
    font-size:20px;
    font-weight:bold;
}

.player-gen-picture{
    grid-area: player-gen-pic;
    justify-self: center;
    display:flex;
    
}

.player-gen-picture img{
    margin:15px 0;
    object-fit:cover;
    border-radius: 100%;
}

.player-gen-desc {
    width:80%;
    text-align: center;
}

.options{
    grid-area: options;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-group{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score-style{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.score-board {
    margin-top: 20px;
    display:flex;    
}

#score-correct {
    color: green;
}

#score-incorrect {
    color: red;
}

#score-totals {
    color: #1779ba;
}

.wrong-answers {
    display: flex;
    flex-direction:column-reverse;
    flex-wrap:wrap;
}

.wrong-answers p {
    font-size: 12px;
}



@media only screen and (min-width:747px){
    .choice-style:hover{
        /* background-color:blueviolet; */
        cursor: pointer;
        /* color: white; */
    }

    .main-grid-layout{
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        ". timer ."
        "choice1 player-main options"
        "choice2 player-main options"
        "choice3 player-main options"
        "choice4 player-main options";
        gap: 5px;
        /* overflow-y:hidden; */
    
    }
    .options{
        display: block;
    }
}
